---
interface Props {
	text: string;
	link: string;
}

const { text, link } = Astro.props;
---

<!-- TODO : rajouter curseur, + habiller un peu le bloc (images ?) -->
<section class="maillage flex h-screen w-full items-center bg-fantasy-50 py-10">
	<div class="relative h-fit w-full">
		<a href={link} class="nav absolute left-0 top-0 z-10 h-full w-full"></a>
		<div class="marquee pointer-events-none flex w-full flex-row flex-nowrap overflow-hidden py-2 sm:py-3 lg:py-3 xl:py-5">
			<ul class="marquee-right flex flex-row flex-nowrap space-x-6 px-3 md:space-x-14 md:px-7">
				<li class="text-outline font-bebas">{text}</li>
				<li class="font-zenloop">{text}</li>
				<li class="font-nothing capitalize">{text}</li>
			</ul>
			<ul class="marquee-right-bis flex flex-row flex-nowrap space-x-6 px-3 md:space-x-14 md:px-7">
				<li class="text-outline font-bebas">{text}</li>
				<li class="font-zenloop">{text}</li>
				<li class="font-nothing capitalize">{text}</li>
			</ul>
		</div>
		<div class="marquee pointer-events-none flex w-full flex-row flex-nowrap overflow-hidden py-2 sm:py-3 xl:py-5">
			<ul class="marquee-left flex flex-row flex-nowrap space-x-6 px-3 md:space-x-14 md:px-7">
				<li class="font-primary capitalize">{text}</li>
				<li class="font-sixcaps uppercase">{text}</li>
				<li class="text-outline font-abril lowercase">{text}</li>
			</ul>
			<ul class="marquee-left-bis flex flex-row flex-nowrap space-x-6 px-3 md:space-x-14 md:px-7">
				<li class="font-primary capitalize">{text}</li>
				<li class="font-sixcaps uppercase">{text}</li>
				<li class="text-outline font-abril lowercase">{text}</li>
			</ul>
		</div>
	</div>
</section>
<style lang="postcss">
	/* STYLES DES TEXTES */
	.text-outline {
		-webkit-text-stroke-width: 1px;
  		-webkit-text-stroke-color: #253a3c;
  		color: transparent !important;
	}

	.marquee ul li {
		@apply text-5xl sm:text-6xl md:text-7xl xl:text-8xl leading-snug
	}

	/* DÉFILEMENT INFINI */
	.maillage li {
		white-space: nowrap;
		@apply text-firefly-900 w-fit inline-block;
	}

	.marquee {
		white-space: nowrap;
	}

	.marquee-left {
		animation: scroll-left 40s -20s linear infinite;
	}
	.marquee-left-bis {
		animation: scroll-left-bis 40s linear infinite;
	}

	@keyframes scroll-left {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translateX(-100%);
		}
	}
	@keyframes scroll-left-bis {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-200%);
		}
	}

	.marquee-right {
		animation: scroll-right 40s -20s linear infinite;
	}
	.marquee-right-bis {
		animation: scroll-right-bis 40s linear infinite;
	}

	@keyframes scroll-right {
		from {
			transform: translateX(-100%);
		}
		to {
			transform: translateX(100%);
		}
	}
	@keyframes scroll-right-bis {
		from {
			transform: translateX(-200%);
		}
		to {
			transform: translateX(0);
		}
	}
</style>
